html {
    font-family: "Montserrat", sans-serif;
  }
  .Logo{
    padding:0% 0% 5%;
  }
  .ReactIcons{
    font-size: 1.6rem;
    padding: 0% 2% 5%;
  }
  

.container1{
    background-color: #eccb6a;;
}
  
  .big-heading {
  color: white;
  font-size: 4.5rem;
  line-height: 1.5;
  }

  .page1{
    background-color: #eccb6a;
}
.B1{
    font-family: 'Pacifico', cursive;
}
.ms-auto{
    font-family: 'Montserrat', sans-serif;
}
.cat{
    width: 90%;
    right: 0%;
    position: relative;
}

.download-btn{
    margin: 2% 3% 5% 0;
 }

 .row1 {
    padding:3% 1% 10%;
 }

.features{
  padding: 3% 0% 4%;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.features p{
  font-size: 1.5rem;
}

.icon{
   color: #7b97bf;
   font-size: 10rem;
   margin-bottom: 1rem;
}
.CatPoster{
  text-align: center;
}
.cards{
  padding:3% 10% 5%;
  
}
.My3cards{
  text-align: center;
}

.Lastpart{
  text-align: center;
  padding:3% 10% 3%;
}

.footer {
  background-color: #eccb6a;
  position: relative;
  text-align: center;
  width: 95%;
  height: 17rem;
  font-size: 20px}

.myInformation{
  padding: 0% 0% 4%;
  position: relative;
  text-align: left;
  font-size: 1rem;
}

footer p {
  color: white;
}

#homeButton{
  text-align: center;
  font-size:3rem;
  color:"white"
}
